email: 'rando@example.org'
product: 'Webmaker'
components:
  badges: 'Badges'
  comms: 'Communications'
  design: 'Design & UX'
  events: 'Events'
  general: 'General'
  hive: 'Hive'
  ladder: 'Engagement Ladder'
  local: 'Localization'
  login: 'Login'
  makeapi: 'MakeAPI'
  metrics: 'Metrics'
  ops: 'DevOps'
  party: 'Maker Party'
  popcorn: 'Popcorn Maker'
  profile: 'Profile'
  suite: 'Webmaker-suite'
  support: 'Support'
  teach: 'Teaching Kits / Curriculum'
  testing: 'User Testing'
  thimble: 'Thimble'
  training: 'Training'
  valet: 'Make Valet'
  valet: 'Make Valet'
  wmorg: 'webmaker.org'
  xray: 'X-Ray Goggles'
